$button-color: #358ED8;

.title{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.profile-container{
  width: 450px;
  height: 260px;
  margin: auto;
  border: 3px solid grey;
  font-size: 20px;
  padding: 15px;

  .info{
    margin-top: 25px;
  }

  .editbutton{

    button{
    background-color: $button-color;
    width: 100%;
    border-radius: 8px;
    height: 30px;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    }

    button:hover{
      background-color: white;
      color: $button-color;
      border: solid 1px grey;
    }
  }
}