<div>
  <div>
    <h2>
      <a routerLink="/">ROLODEX</a>
    </h2>
  </div>


  <ul>
    <li>
      <h2>
        <a routerLink="contact">View All Contacts</a>
      </h2>
    </li>

    <li>
      <h2>
        <a routerLink="add-contact">Create Contacts</a>
      </h2>
    </li>

    <li>
      <h2>
        <a routerLink="profile">My Profile</a>
      </h2>
    </li>

    <li>
      <h2>
        <button routerLink="login">Login</button>
      </h2>
    </li>

    <li>
      <h2>
        <button>Logout</button>
      </h2>
    </li>
  </ul>
</div>