<div class="title">
  <h1>Edit My Profile</h1>
</div>

<div class="edit-profile-component">
  <form>

    <div>
      <label for="name">Name: </label>
    </div>
    <div>
      <input class="input" type="text" name="name" [(ngModel)]="this.editProfileData.name">
    </div>

    <div>
      <label for="email">Email: </label>
    </div>
    <div>  
      <input class="input" type="text" name="email" [(ngModel)]="this.editProfileData.email">
    </div>

    <div>
      <label for="address">Address: </label>
    </div>
    <div>  
      <input class="input" type="text" name="address" [(ngModel)]="this.editProfileData.address">
    </div>

    <div>
      <button class="btn" (click)="editSubmit()">Submit</button>
    </div>

    <div class="err" [hidden]="!invalidEditProfile">
      Error couldn't edit profile, please try again
    </div>

  </form>
</div>