/* You can add global styles to this file, and also import other style files */
$button-color: #358ED8;

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Playfair Display', serif;

}