<div class="title">
  <h1>Add Contact:</h1>
</div>

<div class="add-contact-container">
  <form>

    <div>
      <label for="name">Name: </label>
    </div>
    <div>
      <input class="input" type="text" name="name" [(ngModel)]="addContactDataForm.name">
    </div>

    <div>
      <label for="name">Address: </label>
    </div>
    <div>
      <input class="input" type="text" name="address" [(ngModel)]="addContactDataForm.address">
    </div>

    <div>
      <label for="name">Mobile: </label>
    </div>
    <div>
      <input class="input" type="text" name="mobile" [class.error]="isMobileNumberInvalid && mobile.touched"
        [(ngModel)]="addContactDataForm.mobile" (keyup)="validateMobileNumber()" #mobile="ngModel">
    </div>

    <div class="err" [hidden]="!(isMobileNumberInvalid && mobile.touched)">
      Needs to have at least 10 numbers with '-' to be valid
    </div>

    <div>
      <label for="name">Work: </label>
    </div>
    <div>
      <input class="input" type="text" name="work" [class.error]="isWorkNumberInvalid && work.touched"
        [(ngModel)]="addContactDataForm.work" (keyup)="validateWorkNumber()" #work="ngModel">
    </div>

    <div class="err" [hidden]="!(isWorkNumberInvalid && work.touched)">
      Needs to have at least 10 numbers with '-' to be valid
    </div>

    <div>
      <label for=" name">Home: </label>
    </div>
    <div>
      <input class="input" type="text" name="home" [class.error]="isHomeNumberInvalid && home.touched"
        [(ngModel)]="addContactDataForm.home" (keyup)="validateHomeNumber()" #home="ngModel">
    </div>

    <div class="err" [hidden]="!(isHomeNumberInvalid && home.touched)">
      Needs to have at least 10 numbers with '-' to be valid
    </div>

    <div>
      <label for="name">Email: </label>
    </div>
    <div>
      <input class="input" type="text" name="email" [class.error]="isEmailInvalid && email.touched"
        [(ngModel)]="addContactDataForm.email" (keyup)="validateEmail()" #email="ngModel">
    </div>

    <div class="err" [hidden]="!(isEmailInvalid && email.touched)">
      Email address needs to have '@' and a period to be valid
    </div>

    <div>
      <label for="name">Twitter: </label>
    </div>
    <div>
      <input class="input" type="text" name="twitter" [(ngModel)]="addContactDataForm.twitter">
    </div>

    <div>
      <label for="name">Instagram: </label>
    </div>
    <div>
      <input class="input" type="text" name="instagram" [(ngModel)]="addContactDataForm.instagram">
    </div>

    <div>
      <label for="name">Github: </label>
    </div>
    <div>
      <input class="input" type="text" name="github" [(ngModel)]="addContactDataForm.github">
    </div>

    <div>
      <button class="btn" (click)="submitForm()"
        [disabled]="isEmailInvalid || isMobileNumberInvalid || isWorkNumberInvalid || isHomeNumberInvalid">
        Submit
      </button>
    </div>

    <div class="err" [hidden]="!invalidAddContact">
      Contact info is invalid, please try again
    </div>

  </form>
</div>