<div class="title">
  <h1>Add Contact:</h1>
</div>

<div class="add-contact-container">
  <form>

    <div>
      <label for="name">Name: </label>
    </div>
    <div>
      <input class="input" type="text" name="name">
    </div>

    <div>
      <label for="name">Address: </label>
    </div>
    <div>
      <input class="input" type="text" name="address">
    </div>

    <div>
      <label for="name">Mobile: </label>
    </div>
    <div>
      <input class="input" type="text" name="mobile">
    </div>

    <div>
      <label for="name">Work: </label>
    </div>
    <div>
      <input class="input" type="text" name="work">

      <div>
        <label for="name">Home: </label>
      </div>
      <div>
        <input class="input" type="text" name="home">
      </div>
    </div>

    <div>
      <label for="name">Email: </label>
    </div>
    <div>
      <input class="input" type="text" name="email">
    </div>

    <div>
      <label for="name">Twitter: </label>
    </div>
    <div>
      <input class="input" type="text" name="twitter">
    </div>

    <div>
      <label for="name">Instagram: </label>
    </div>
    <div>
      <input class="input" type="text" name="instagram">
    </div>

    <div>
      <label for="name">Github: </label>
    </div>
    <div>
      <input class="input" type="text" name="github">
    </div>

    <div>
      <button class="btn">
        Submit
      </button>
    </div>

  </form>
</div>